<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue app</title>
    <style>
      .box {
        background-color: blueviolet;
        height: 200px;
        width: 200px;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <login-form />

      <hr>

      <button @click.right.prevent="toggleBox">toggle box</button>
      <div v-if="isVisible" class="box"></div>
      
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
        data: function () {
          return {
            greeting: "hello vue3!!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox() {
              this.isVisible = !this.isVisible
          },
          greet(greeting) {
            console.log(greeting)
          }
        }
      });
      app.component('login-form', {
        template: `
          <form @submit.prevent="handleSubmit">
            <h1>{{this.title}}</h1>
            <input type="email" v-model="email"/>
            <input type="password" v-model="password"/>
            <button>submit</button>
          </form>
        `,
        data() {
          return {
            title: 'login form!',
            email: "",
            password: ""
          }
        },
        methods: {
          handleSubmit() {
            console.log("submitted", this.email, this.password)
          }
        }
      })
      app.mount("#app");
    </script>
  </body>
</html>
